header{
    width: 1200px;
    height: 80px;
    border: 2px solid pink;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav> ul{
    display: flex;
}
ul li{
    list-style: none;
    padding-left: 40px;
    
  
    
}
ul a{
    text-decoration: none;
    color: blueviolet;
}
.header-focus{
    font-size: 30px;
    font-weight: 700;
    margin-left: 50px;
    padding-left: 50px;
}
.nav-section{
    margin-right: 50px;
    padding-right: 50px;
}

.header-icon{
    display: flex;
}
/* Responsive style for header*/

@media screen and (max-width:576px) {
   .nav{
    display: none; 
    .header-focus{
      margin-left: 20px;  
    } 
}

